body {
  background: $body-bg;
}

.content {
  section {
    border-top: 1px dashed #bbb;
  }
  section:nth-of-type(1) {
    border-top: none;
  }
  /* Links: replicate underline that clears descenders.
   * Credit to tufte-css project. */
  a:link, a:visited {
    color: inherit;
  }

  a:link {
    text-decoration: none;
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 93%, 100% 93%, 0% 93%;
  }
}
#legal {
  color: darken($body-color, 10%);
}
hr {
  border-color: $body-color;
}
