body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 1.5em;
}

.additional {
  text-align: center;
}
#restart, #undo {
  margin: 0 10%;
  display: block;
}
#restart {
  float: left;
}
#undo {
  float: right;
}
.content {
  small {
    text-align: center;
    display: block;
  }
  padding: 1em;
  h1,h2,h3 {
    text-align: center;
  }
  h1 {
    font-size: $font-size-base * 1.5;
  }
  h2 {
    font-size: $font-size-base * 1.4;
  }
  h3 {
    font-size: $font-size-base * 1.25;
  }
  form {
    input {
      width: 90%;
      margin: 0 auto;
      display: block;
    }
  }
  .options {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
#legal {
  margin-top: 1em;
  font-size: smaller;
  #footleft {
    @media (min-width: breakpoint-min(sm)) {
      @include make-col-offset(1);
      @include make-col(6);
    }
    @media (max-width: breakpoint-max(xs)) {
      @include make-col(12);
    }
  }
  #footright {
    text-align: right;
    @media (min-width: breakpoint-min(sm)) {
      @include make-col(4);
    }
    @media (max-width: breakpoint-max(xs)) {
      @include make-col(12);
      margin-bottom: 1em;
    }
  }
}
hr {
  width: 50%;
}

#content_wrapper {
  @include col(8, 12);
  @media (min-width: breakpoint-min(sm)) {
    @include make-col-offset(2);
  }
}
