@mixin halfcolumn() {
  @include make-col();
  @media (min-width: breakpoint-min(sm)) {
    @include make-col(6);
  }
  @media (max-width: breakpoint-max(xs)) {
    @include make-col(12);
  }
}
@mixin col($sm-width, $xs-width) {
  @media (min-width: breakpoint-min(sm)) {
    @include make-col($sm-width);
  }
  @media (max-width: breakpoint-max(xs)) {
    @include make-col($xs-width);
  }
}

