$font-family-sans-serif: 'PT Sans','Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "PT Sans Caption",$font-family-sans-serif;
$font-family-base: $font-family-sans-serif;

$body-bg: #E9F0FF;
$body-color: #02203B;
$link-color: #9E502D;

$text_background: transparent;
$enable-flex: false;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
